body {
  background-color: rgba(182, 182, 182, 0.17) !important;
}
.mainPage {
  background-color: rgb(255, 255, 255);
  border: solid 1px rgba(0, 0, 0, 0.164);
}
.pageHeading {
  text-align: center;
  padding-top: 13%;
}
.search {
  margin: 5% 0 0 10%;
  width: 40%;
}
.searchInput {
  display: flex;
}
.searchBtn {
  background-color: #a60d0d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin-left: 5px;
  box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease 0s;
}
.searchBtn:hover {
  background-color: #d32121;
}
.stockLink {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.stockLink:hover {
  color: rgb(81, 81, 81);
  text-decoration: underline;
}
.companyCountry {
  font-size: 20px;
  text-align: left;
  margin-left: 5%;
  span {
    margin-left: 2%;
  }
}
.companyUrl{
  font-size: 18px;
  margin-top: 5%;
}
