.productBox {
    margin: 3% 0 10% 0;
    width: 22%;
    text-align: center;
}
.cf_image {
    padding: 5%;
}
.product-grid {
    font-family: "Poppins", sans-serif;
    text-align: center;
    transition: all 0.7s ease 0s;
    border-radius: 10px;
    padding: 2%;
}
.stockLink {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.stockLink:hover {
    color: rgb(81, 81, 81);
    text-decoration: underline;
}
.product-grid {
    font-family: "Poppins", sans-serif;
    transition: all 0.7s ease 0s;
    border-radius: 15px;
    box-shadow: 1px -1px 16px -4px rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 1px -1px 16px -4px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 1px -1px 16px -4px rgba(0, 0, 0, 0.77);
}
.product-grid:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 10px 10px rgba(0, 0, 0, 0.05);
    transform: scale(1.04);
}
.product-grid .product-image {
    overflow: hidden;
    position: relative;
    border-radius: 15px 15px 0 0;
    padding-top: 5%;
}

.product-grid .product-image img {
    max-width: 160px;
}
.product-grid .product-content {
    padding: 15px 12px;
    border-radius: 0 0 10px 10px;
    text-align: left;
}
.product-grid .product-title {
    font-size: 20px;
    color: rgb(55, 55, 55);
    font-weight: 600;
}

.product-grid .product-collection {
    font-size: 15px;
    font-weight: 600;
    color: rgba(180, 38, 38, 0.589);
}
.product-grid .product-network {
    float: right;
    color: black;
    background-color: #8a8a8a31;
    padding: 1%;
    border-radius: 5px;
    font-weight: 200;
    font-size: 13px;
}

.product-grid .product-price-cripto {
    color: rgb(55, 55, 55);
    float: right;
    font-size: 16px;
}
.product-grid .product-price-dolers {
    color: rgb(132, 132, 132);
    font-size: 13px;
    float: right;
}
.product-grid .price {
    color: rgb(136, 136, 136);
    font-size: 13px;
    font-weight: 600;
}
.noCompanies {
    margin: 10% 0 20% 0;
    text-align: center;
    color: rgba(95, 95, 94, 0.63);
}
@media screen and (max-width: 990px) {
    .product-grid {
        margin: 0 0 30px;
    }
}
.modalCloseBtn {
    padding: 2% !important;
    margin-left: 90%;
}
.datepicker {
    padding: 2%;
}
.stocksInfoMain {
    display: flex;
}
.buyLogo {
    width: 300px;
    padding: 0 5%;
}
.buyName {
    margin: 5% 2%;
}

.nftEditMain {
    margin-top: 1%;
}
.nftEditImg {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 29px 6px rgba(0, 0, 0, 0.75);
}
.nftInfoMain {
    display: flex;
}
.nftPriceImg {
    width: 35px;
    margin: 0 7px 3px 0;
}
.nftPriceLine {
    color: rgba(104, 104, 104, 0.54);
    font-size: 14px;
    position: absolute;
}
.nftTitle {
    font-size: 40px;
}
.nftCollection {
    font-size: 20px;
    color: rgba(180, 38, 38, 0.589);
}
.collectionImg {
    width: 20px;
    margin-left: 5px;
}
.nftInfo {
    margin: 2% 0 0 8%;
}
.nftPrice {
    margin-top: 40px;
}
.nftDolers {
    color: rgba(104, 104, 104, 0.54);
    font-size: 15px;
    position: absolute;
    margin: 10px 0 0 0;
}
.nftTimer {
    margin: 2% 5%;
}
.timerEnd {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.652);
}
.myTimer {
    float: right;
}
.nftBidBuyBtn {
    margin: 18% 2%;
}
.nftBidBtn {
    background-color: #a60d0d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 100px 12px 100px;
    margin-right: 8px;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
}
.nftBidBtn:hover {
    background-color: #d32121;
}
.nftDescriptionTitle {
    margin-top: 3%;
    font-size: 20px;
}
.description {
    margin-top: -55%;
    width: 35%;
}
.nftDescription {
    font-size: 15px;
}
.details {
    margin-top: 40px;
    width: 35%;
    padding-bottom: 5%;
}
.nftDetails {
    font-size: 20px;
}
.nftCreator {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.652);
}
.nftCreatorEmail {
    float: right;
    color: rgba(0, 0, 0, 0.773);
}
.nftNetwork {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.652);
}
.nftNetworkInfo {
    float: right;
    color: rgba(0, 0, 0, 0.773);
}
.nftCollection2 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.652);
}
.nftCollectionInfo {
    float: right;
    color: rgba(0, 0, 0, 0.773);
}
.bidHistory {
    margin: 0% 42.6%;
    width: 50%;
}
.bidOffers {
    margin: 2% 42.6%;
    width: 50%;
}
.noItems {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding: 20px 0;
}
.noItemsImg {
    width: 60px;
    margin-left: 165px;
}
.noItemsHeading {
    font-size: 16px;
    text-align: center;
}
.bidHistoryHeading {
    font-size: 22px;
}
.bidOffersHeading {
    font-size: 22px;
}
.bidInfo {
    margin-top: 3%;
}
.buyMain {
    display: flex;
    h3 {
        font-size: 20px;
        margin: 3% 0% 0 5%;
    }
}
.buyStocksBtn {
    background-color: #a60d0d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 100px 12px 100px;
    margin: 2% 5%;
    box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 1px 22px -7px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease 0s;
}
.buyStocksBtn:hover {
    background-color: #d32121;
}
.stockChart {
    border: solid 1px rgba(0, 0, 0, 0.434);
}
.congradsText{
    padding: 2%;
    font-size: 22px;
    text-align: center;
    color: #e9e9e9;
    background-color: #77abcb7d;
    border-radius: 10px;
}
.congModal{
    background-color: #628296 !important;
}
